.flex-container {
  display: flex;
  justify-content: center; /* Центрируем элементы по горизонтали */
  align-items: center; /* Центрируем элементы по вертикали */
}
/* 
  Стили для ссылок */
.flex-container a {
  color: var(--color4);
  text-decoration: none;
  margin: 0 15px;
  font-size: 20px;
  transition: color 0.3s; /* Плавный переход цвета при наведении */
}

.flex-container a:hover {
  color: var(--color5);
}

@media (max-width: 768px) {
  .flex-container {
    flex-direction: column;
    align-items: flex-start; /* Выравнивание по левому краю */
  }

  .flex-container a {
    margin: 10px 0; /* Убираем боковые отступы и увеличиваем вертикальные отступы */
  }
}

/* Grid for Layout */
.page {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 1fr;
  gap: 20px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(300px, 1fr)
  ); /* Адаптивные колонки */
  gap: 20px;
  padding: 20px;
}

.book {
  background-color: var(--color1);
  border: 1px solid #493628;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.tile-image {
  max-width: 100%;
  max-height: 200px;
  height: auto;
  margin: 20px 0;
  object-fit: contain;
}

.flex-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}

button {
  padding: 10px 20px; /* Внутренние отступы кнопок */
  border: none;
  border-radius: 5px; /* Закруглённые углы кнопок */
  background-color: #ab886d;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Анимация при наведении */
}

button:hover {
  background-color: #493628;
}
