:root {
  --color1: #e4e0e1;
  --color2: #d6c0b3;
  --color3: #ab886d;
  --color4: #493628;
  --color5: #131010;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 50px 50px 0 50px;
  background-color: var(--color2);
  display: flex;
  flex-direction: column;
  min-height: 95vh;
}
.main {
  flex: 1;
}

h1,
h2 {
  text-align: center;
}

h1 {
  font-size: 4rem;
  margin-bottom: 20px;
  color: var(--color5);
}

h2 {
  font-size: 2rem;
  margin-bottom: 15px;
  color: var(--color4);
}

footer {
  text-align: right;
  color: var(--color4);
}

.creative {
  color: #805209;
}

.header {
  background-color: var(--color1);
  padding: 20px 0;
}

/* Гибкая раскладка для навигации */
.flex-container {
  display: flex;
  justify-content: center; /* Центрируем элементы по горизонтали */
  align-items: center; /* Центрируем элементы по вертикали */
}

/* Стили для ссылок */
.flex-container a {
  color: var(--color4);
  text-decoration: none;
  margin: 0 15px;
  font-size: 20px;
  transition: color 0.3s; /* Плавный переход цвета при наведении */
}

.flex-container a:hover {
  color: var(--color5);
}

@media (max-width: 768px) {
  .flex-container {
    flex-direction: column;
    align-items: flex-start; /* Выравнивание по левому краю */
  }

  .flex-container a {
    margin: 10px 0; /* Убираем боковые отступы и увеличиваем вертикальные отступы */
  }
}

/* Grid for Layout */
.page {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 1fr;
  gap: 20px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(300px, 1fr)
  ); /* Адаптивные колонки */
  gap: 20px;
  padding: 20px;
}

.book {
  background-color: var(--color1);
  border: 1px solid #493628;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  display: flex; /* Flexbox для выравнивания */
  flex-direction: column; /* Содержимое выравнивается по вертикали */
  align-items: center; /* Центрирование содержимого по горизонтали */
  text-align: center;
}

.tile-image {
  max-width: 100%;
  max-height: 200px;
  height: auto;
  margin: 20px 0;
  object-fit: contain;
}

/* Кнопки */
.flex-container {
  display: flex; /* Flexbox для кнопок */
  justify-content: center; /* Центрируем кнопки */
  gap: 10px; /* Расстояние между кнопками */
  margin-top: 10px; /* Отступ сверху */
}

button {
  padding: 10px 20px; /* Внутренние отступы кнопок */
  border: none;
  border-radius: 5px; /* Закруглённые углы кнопок */
  background-color: #ab886d;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Анимация при наведении */
}

button:hover {
  background-color: #493628;
}

.styled-list {
  list-style-type: none; /* Убираем стандартные маркеры */
  padding: 0; /* Убираем отступы */
}

.styled-list li {
  position: relative;
  padding-left: 30px; /* Добавляем отступ для кастомного маркера */
  margin-bottom: 10px;
  font-size: 1rem;
  color: var(--color5);
}

.styled-list li::before {
  content: "✔";
  position: left;
  left: 2;
  color: #493628;
  font-size: 1.5rem;
  line-height: 1;
}
