body {
  font-family: "Poppins", sans-serif;
  margin: 50px 50px 0 50px;
  background-color: #98caf9;
  display: flex;
  flex-direction: column;
  min-height: 95vh;
}
.main {
  flex: 1;
}

h1 {
  font-size: 5rem;
}

footer {
  text-align: right;
  color: midnightblue;
}

.title-image {
  height: 200px;
  float: left;
  margin-right: 50px;
  margin-left: 50px;
}

.card {
  width: 50%;
}

.left {
  float: left;
}

.right {
  float: right;
}

.creative {
  color: blue;
}

@media (max-width: 680px) {
  .logo {
    width: 100px;
  }

  h1 {
    font-size: 3.5rem;
    text-align: center;
  }

  .card {
    width: 100%;
    display: block;
    margin-bottom: 30px;
    text-align: justify;
  }

  .card img {
    margin-bottom: 10px;
    width: 100%;
    display: inline;
    object-fit: cover;
  }
}

.container {
  display: flex;
  justify-content: center; /* Выравнивание по центру по горизонтали */
  align-items: center; /* Выравнивание по центру по вертикали */
  height: 100vh; /* Высота контейнера */
}

.item {
  background: lightblue;
  padding: 20px;
  margin: 10px;
}
