body {
  font-family: "Poppins", sans-serif;
  margin: 50px 50px 0 50px;
  background-color: #98caf9;
  display: flex;
  flex-direction: column;
  min-height: 95vh;
}
.main {
  flex: 1;
}

h1 {
  font-size: 5rem;
}

footer {
  text-align: right;
  color: midnightblue;
}

.creative {
  color: blue;
}

/* Grid for Layout */
.page {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 1fr;
  gap: 20px;
}

.grid-container {
  display: grid; /* Используем CSS Grid */
  grid-template-columns: repeat(
    auto-fit,
    minmax(300px, 1fr)
  ); /* Адаптивные колонки */
  gap: 20px; /* Расстояние между карточками */
  padding: 20px; /* Внутренний отступ */
}

.book {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  display: flex; /* Flexbox для выравнивания */
  flex-direction: column; /* Содержимое выравнивается по вертикали */
  align-items: center; /* Центрирование содержимого по горизонтали */
  text-align: center; /* Текст по центру */
}

.tile-image {
  max-width: 100%;
  max-height: 200px;
  height: auto;
  margin: 20px 0;
  object-fit: contain;
}

/* Кнопки */
.flex-container {
  display: flex; /* Flexbox для кнопок */
  justify-content: center; /* Центрируем кнопки */
  gap: 10px; /* Расстояние между кнопками */
  margin-top: 10px; /* Отступ сверху */
}

button {
  padding: 10px 20px; /* Внутренние отступы кнопок */
  border: none; /* Убираем стандартную границу */
  border-radius: 5px; /* Закруглённые углы кнопок */
  background-color: #007bff; /* Цвет кнопки */
  color: #fff; /* Цвет текста */
  cursor: pointer; /* Указатель мыши на кнопке */
  transition: background-color 0.3s ease; /* Анимация при наведении */
}

button:hover {
  background-color: #0056b3; /* Изменение цвета при наведении */
}

.styled-list {
  list-style-type: none; /* Убираем стандартные маркеры */
  padding: 0; /* Убираем отступы */
}

.styled-list li {
  position: relative;
  padding-left: 30px; /* Добавляем отступ для кастомного маркера */
  margin-bottom: 10px;
  font-size: 1rem;
  color: #34495e;
}

/* Кастомный маркер для списка */
.styled-list li::before {
  content: "✔"; /* Символ маркера */
  position: absolute;
  left: 0;
  color: #3498db; /* Цвет маркера */
  font-size: 1.2rem;
  line-height: 1;
}
